{% block OrderType_widget %}


  <div class="x_title">
    <h2>
        {% trans %}Anything else to add ?{% endtrans %}
        <small>{% trans %}If you want to comment or review this order...{% endtrans %}</small>
      </h2>
    <div class="clearfix"></div>
  </div>
  

    <div class="form-horizontal form-label-left">
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">
            {% trans %}Any review ?{% endtrans %}
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          {{ form_widget(form.note, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
        </div>
      </div>
    </div>
  </div>
</div>

<!--- GENERAL INFO -->

<div class="x_panel">
  <div class="x_title">
    <h2>
        {% trans %}Order infos{% endtrans %}
        <small>{% trans %}Define your order{% endtrans %}</small>
      </h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <!-- CONTENU -->
    <div class="form-horizontal form-label-left">
      {% if value.type == 0 %}
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="shop_name">{{ form.dateCivil.vars.label|trans }}
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          {{ form_widget(form.dateCivil, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="shop_name">{{ form.dateChurch.vars.label|trans }}
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          {{ form_widget(form.dateChurch, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
        </div>
      </div>
      {% endif %}
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="shop_name">{{ form.dateMinShip.vars.label|trans }}
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          {{ form_widget(form.dateMinShip, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="shop_name">{{ form.dateMaxShip.vars.label|trans }} <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          {{ form_widget(form.dateMaxShip, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="shop_name">{{ form.comment.vars.label|trans }}
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          {{ form_widget(form.comment, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
        </div>
      </div>
    </div>
    <!-- // CONTENU -->
  </div>
</div>

<!--- SIZING -->

<div class="x_panel">
    <div class="x_title">
      <h2>
        {% trans %}Models and Sizes{% endtrans %}
        <small>{% trans %}Select models you want to order{% endtrans %}</small>
      </h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <!-- CONTENU -->
        <div class="form-horizontal form-label-left">
            


<fieldset class="well">

        <table id="OrderType_modelsOrdered" class="table table-hover">
            <thead>
                <th>{% trans %}Model{% endtrans %}</th>
                <th>{% trans %}Size{% endtrans %}</th>
                <th>{% trans %}Length{% endtrans %}</th>
                <th>{% trans %}Comment{% endtrans %}</th>
                <th>{% trans %}Status{% endtrans %}</th>
                {% if value.state < 2 or value.state == 3 %}
                  <th>{% trans %}Action{% endtrans %}</th>
                {% endif %}
            </thead>
            <tbody>

{% for modelordered in value.modelsOrdered %}
<tr style="border-bottom:1px #DDD solid" rel="{{ modelordered.id }}">
        <td style="vertical-align: middle;">
            {{ modelordered.model.name }} ({{ modelordered.model.sku }})
        </td style="vertical-align: middle;">
        <td style="vertical-align: middle;">
            {{ modelordered.size }}
        </td style="vertical-align: middle;">
        <td style="vertical-align: middle;">
            {{ modelordered.heels }} cm
        </td>
        <td style="vertical-align: middle;">
            {{ modelordered.comment }}
        </td style="vertical-align: middle;">
        <td style="vertical-align: middle;">
          <div class="form-group">
            {% if modelordered.isCommentInvoice == 0 or modelordered.isCommentInvoice is empty %}
              <i class="fa fa-times red"></i>
            {% else %}
              <i class="fa fa-check green"></i>
            {% endif %}
          </div>
        </td>
        <td style="vertical-align: middle;">
            <div class="form-group">
              {% if modelordered.status == 0 %}
                <span class="label label-default state st-td">{% trans %}To be done{% endtrans %}</span>
              {% elseif modelordered.status == 1 %}
                <span class="label label-default state st-es">{% trans %}In Stock{% endtrans %}</span>
              {% elseif modelordered.status == 2 %}
                <span class="label label-default state st-ew">{% trans %}Sent to workroom{% endtrans %}</span>
              {% elseif modelordered.status == 3 %}
                <span class="label label-default state st-cut">{% trans %}Cut{% endtrans %}</span>
              {% elseif modelordered.status == 4 %}
                <span class="label label-default state st-ecp">{% trans %}In production{% endtrans %}</span>
              {% elseif modelordered.status == 5 %}
                <span class="label label-default state st-epf">{% trans %}Sent by fullfilment house{% endtrans %}</span>
              {% elseif modelordered.status == 6 %}
                <span class="label label-default state st-rs">{% trans %}Received by Rime Arodaky{% endtrans %}</span>
              {% elseif modelordered.status == 7 %}
                <span class="label label-default state st-rse">{% trans %}Received with error{% endtrans %}</span>
              {% elseif modelordered.status == 8 %}
                <span class="label label-default state st-cs">{% trans %}Controled{% endtrans %}</span>
              {% elseif modelordered.status == 9 %}
                <span class="label label-default state st-lc">{% trans %}Delivered{% endtrans %}</span>
              {% elseif modelordered.status == 10 %}
                <span class="label label-default state st-lc">{% trans %}Finished{% endtrans %}</span>
              {% endif %}
            </div>
        </td>
        {% if value.state < 2 or value.state == 3 or modelordered.status > 2 %}
          <th>{% trans %}Edit / Delete{% endtrans %}</th>
        {% endif %}
    </tr>

{% endfor %}

            </tbody>
        </table>
    </fieldset>









            {% if value.state < 2 or value.state == 3 %}
              <a class="btn btn-success" data-toggle="modal" data-target="#modelModal" href="#"><i class="fa fa-plus"></i> {% trans %}Add new product to this order{% endtrans %}</a>
            {% endif %}
        </div>
      <!-- // CONTENU -->
    </div>
</div>


<!--- STATUS -->

<div class="x_panel">
  <div class="x_title">
    <h2>
        {% trans %}Status of the order{% endtrans %}
        <small>{% trans %}modify the status of the order{% endtrans %}</small>
      </h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <div class="form-horizontal form-label-left">
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="shop_name">{{ form.state.vars.label }}
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          {{ form_widget(form.state, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
        </div>
      </div>
  </div>
</div>
</div>

<!--- SAVE -->
<div class="x_panel">
  <div class="x_content">
    <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
          {{ form_widget(form.save, { 'label': 'Submit', 'attr': {'class': 'btn btn-success'} }) }}
          <!--<button class="btn btn-primary" type="button"></button>
          <button type="submit" class="btn btn-success">{% trans %}Submit{% endtrans %}</button>-->
        </div>
      </div>
  </div>
</div>


{% endblock %}



