{% block OrderType_widget %}


  <div class="x_title">
    <h2>
        {% trans %}Anything else to add ?{% endtrans %}
        <small>{% trans %}If you want to comment or review this order...{% endtrans %}</small>
      </h2>
    <div class="clearfix"></div>
  </div>
  

    <div class="form-horizontal form-label-left">
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">
            {% trans %}Any review ?{% endtrans %}
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          {{ form_widget(form.note, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
          <!--<textarea name="comment" class="form-control col-md-7 col-xs-12"></textarea>-->
        </div>
      </div>
    </div>
  </div>
</div>

<!--- GENERAL INFO -->

<div class="x_panel">
  <div class="x_title">
    <h2>
        {% trans %}Order infos{% endtrans %}
        <small>{% trans %}Define your order{% endtrans %}</small>
      </h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <!-- CONTENU -->
    <div class="form-horizontal form-label-left">
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="shop_name">{{ form.dateCivil.vars.label|trans }}
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          {{ form_widget(form.dateCivil, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="shop_name">{{ form.dateChurch.vars.label|trans }}
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          {{ form_widget(form.dateChurch, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="shop_name">{{ form.dateMinShip.vars.label|trans }}
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          {{ form_widget(form.dateMinShip, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="shop_name">{{ form.dateMaxShip.vars.label|trans }} <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          {{ form_widget(form.dateMaxShip, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="shop_name">{{ form.comment.vars.label|trans }}
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          {{ form_widget(form.comment, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
        </div>
      </div>
    </div>
    <!-- // CONTENU -->
  </div>
</div>

<!--- SIZING -->

<div class="x_panel">
    <div class="x_title">
      <h2>
        {% trans %}Models and Sizes{% endtrans %}
        <small>{% trans %}Select models you want to order{% endtrans %}</small>
      </h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <!-- CONTENU -->
        <div class="form-horizontal form-label-left">
            {{ form_widget(form.modelsOrdered) }}
        </div>
      <!-- // CONTENU -->
    </div>
</div>


<!--- STATUS -->

<div class="x_panel">
  <div class="x_title">
    <h2>
        {% trans %}Status of the order{% endtrans %}
        <small>{% trans %}modify the status of the order{% endtrans %}</small>
      </h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <div class="form-horizontal form-label-left">
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="shop_name">{{ form.state.vars.label }}
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          {{ form_widget(form.state, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
        </div>
      </div>
  </div>
</div>
</div>

<!--- SAVE -->
<div class="x_panel">
  <div class="x_content">
    <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
          {{ form_widget(form.save, { 'label': 'Submit', 'attr': {'class': 'btn btn-success'} }) }}
          <!--<button class="btn btn-primary" type="button"></button>
          <button type="submit" class="btn btn-success">{% trans %}Submit{% endtrans %}</button>-->
        </div>
      </div>
  </div>
</div>


{% endblock %}

{# By default, collection uses the form_widget block to create its markup, but we want a table #}
{% block collection_widget %}
    {% spaceless %}

    {#
     # This is almost a copy/paste of jquery.collection.html.twig, we can't use it as it also
     # use form_widget. Note that we also use form_widget(prototype) instead of form_row(prototype)
     # to avoid generating extra markup.
     #}
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': form_widget(prototype)}) %}
        {% set attr = attr|merge({'data-prototype-name': prototype.vars.name}) %}
    {% endif %}

    {% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) %}
    {% set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) %}
    {% set attr = attr|merge({'data-name-prefix': full_name}) %}

    <fieldset class="well">
        <label>{{ form_label(form) }}</label>

        {{ form_errors(form) }}

        {# Don't forget to add the collection attributes in your markup #}
        <table {{ block('widget_attributes') }}>
            {{dump()}}
            <thead>
                <th>{% trans %}Model{% endtrans %}</th>
                <th>{% trans %}Size{% endtrans %}</th>
                <th>{% trans %}Heels{% endtrans %}</th>
                <th>{% trans %}Comment{% endtrans %}</th>
                {% if form.status is defined %}
                <th>{% trans %}Status{% endtrans %}</th>
                {% endif %}
                {% if form.isCommentInvoice is defined %}
                <th>{% trans %}Display comment{% endtrans %}</th>
                {% endif %}
                <th>&nbsp;</th>
                
            </thead>
            <tbody>

                {% for item in form %}
                    {{ form_widget(item) }}
                {% endfor %}

            </tbody>
        </table>
    </fieldset>

    {% endspaceless %}
{% endblock %}


{% block ModelOrderedType_widget %}

    {# widget_attributes will generate class="item" from the ModelType.entry_options configuration #}
    <tr {{ block('widget_attributes') }} price="">
        <td>
            <div class="form-group select-model">
              {% if form.size.vars.value != '' %}
                {{ form_widget(form.model, {'attr': {'class': 'form-control col-md-7 col-xs-12 model', 'rel': form.vars.id}}) }}
              {% else %}
                {{ form_widget(form.model, {'attr': {'class': 'form-control col-md-7 col-xs-12 model', 'rel': form.vars.id}}) }}
              {% endif %}
            </div>
        </td>
        <td>
            <div class="form-group">
              {% if form.size.vars.value != '' %}
                <select class="form-control col-md-7 col-xs-12 {{ form.vars.id }}_size size">
                  <option>{{ form.size.vars.value }}</option>
                </select>
                {{ form_widget(form.size, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
              {% else %}
                <select class="form-control col-md-7 col-xs-12 {{ form.vars.id }}_size size"></select>
                {{ form_widget(form.size, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
              {% endif %}
            </div>
        </td>
        <td>
            <div class="form-group">
                {{ form_widget(form.heels, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
            </div>
        </td>
        <td>
            <div class="form-group">
                {{ form_widget(form.comment, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
            </div>
        </td>
        {% if form.status is defined %}
        <td>
            <div class="form-group">
                {{ form_widget(form.status, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
            </div>
        </td>
        {% endif %}
        {% if form.isCommentInvoice is defined %}
        <td>
            <div class="form-group">
                {{ form_widget(form.isCommentInvoice, {'attr': {'class': 'js-switch'}}) }}
            </div>
        </td>
        {% endif %}
        <td class="text-center">
            <a href="#" class="collection-remove btn btn-default" title="Delete element"><span class="glyphicon glyphicon-trash"></span></a>
            <a href="#" class="collection-add btn btn-default" title="Add element"><span class="glyphicon glyphicon-plus-sign"></span></a>
            <a href="#" class="collection-duplicate btn btn-default" title="Duplicate element"><span class="glyphicon glyphicon-th-large"></span></a>
        </td>
    </tr>
{% endblock %}

{% block ModelOrderedType_label %}

{% endblock %}


