<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="page-title">
    <div class="title_left">
      <h3>{% trans %}Meeting canceled{% endtrans %}</h3>
    </div>
  </div>
  <div class="x_panel">
    <div class="x_title">
      <h2>{% trans %}Find the meeting canceled{% endtrans %}</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <table id="datatable" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>{% trans %}Customer name{% endtrans %}</th>
            <th>{% trans %}Title meeting{% endtrans %}</th>
            <th>{% trans %}Comment{% endtrans %}</th>
            <th>{% trans %}Type{% endtrans %}</th>
            <th>{% trans %}Notification{% endtrans %}</th>
            <th>{% trans %}Start Date{% endtrans %}</th>
            <th>{% trans %}End Date{% endtrans %}</th>
            <th>{% trans %}Name Sales{% endtrans %}</th>
            <th>{% trans %}Location{% endtrans %}</th>
          </tr>
        </thead>
        <tbody>
			{% for meeting in meetings %}
				<tr id="meeting{{ meeting.id }}">
					<td>{{ meeting.customerName }}</td>
					<td>{{ meeting.title }}</td>
					<td>{{ meeting.comment }}</td>
					<td>{% if meeting.type == 1 %}
              {%trans%}1st Meeting{%endtrans%}
            {% elseif meeting.type == 2 %}
              {%trans%}2nd Meeting{%endtrans%}
            {% elseif meeting.type == 3 %}
              {%trans%}1st try{%endtrans%}
            {% elseif meeting.type == 4 %}
              {%trans%}2nd try{%endtrans%}
            {% elseif meeting.type == 0 %}
              {%trans%}Other{%endtrans%}
            {% elseif meeting.type == 5 %}
              {%trans%}PickUp Store{%endtrans%}
            {%endif%}
          </td>
					<td>{% if meeting.notifStatus == 1 %}<i class="fa fa-check green"></i>{%else%}<i class="fa fa-times red"></i>{%endif%}</td>
					<td>{{ meeting.starta }}</td>
					<td>{{ meeting.enda }}</td>
					<td><a href='/{{ locale }}/profile/{{ meeting.sale }}'><span class="puce color" style="background-color:{{ meeting.color }};margin-top: -2px;margin-bottom: -5px;"></span> {{ meeting.namesale }}</a></td>
					<td><a href='{{ meeting.lieu }}'>{{ meeting.lieuName }}</a></td>
				</tr>
			{% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>