

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="page-title">
    <div class="title_left">
      <h3>{{ p1h2 }}</h3>
    </div>

    <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group pull-right" style="margin:0px">
          <form class="form-inline" method='post' action='/admin/{{locale}}/models/search/{{nbitem}}'>
            <div class="form-group" style="margin:0px">
              <label class="sr-only" for="term">Search</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="{{searchterm}}" name="term" id="term" style="border: 1px solid #ccc;">
                <div class="input-group-addon" style="padding: 0px;"><input type="submit" class="btn btn-default" type="button" value="Go!" style="margin: 0px;background: transparent;border: none;"/></div>
              </div>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="x_panel">
    <div class="x_title">
      <h2>{% trans %}Find the{% endtrans %} {{ pagination.getTotalItemCount }} {% trans %}models below{% endtrans %}</h2>
      <div class="col-md-2 pull-right"><a href="/admin/{{ locale }}/models/create/" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> {% trans %}Create a new model{% endtrans %}</a></div>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
        {% if searchterm is empty %}
        {% else %}
          <p class="text-muted font-13 m-b-30">{% trans %}We have found{% endtrans %} {{ pagination.getTotalItemCount }} {% trans %}models corresponding to your search{% endtrans %}: {{searchterm}}</p>
        {% endif %}
      {% if pagination.getTotalItemCount == 0 %}
      <div class="alert alert-info"><strong>Oups!</strong> Nothing has been found with the terms '{{searchterm}}'...<a class="btn btn-default" href="/admin/{{locale}}/models/view/{{nbitem}}">Watch all models</a></div>
      {% else %}
      <table id="datatable-buttons" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Name', 'a.name') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'ID Co.', 'a.collectionId') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'SKU', 'a.sku') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Public Price', 'a.prixHT') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Shop Price', 'a.prixShop') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'A', 'a.isActive') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'S', 'a.isShop') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'C', 'a.isContract') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Type', 'a.type') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Min Ship', 'a.minShipWeek') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'max Ship', 'a.maxShipWeek') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'sizes', 'a.sizes') }}</th>
            <th>{% trans %}Action{% endtrans %}</th>
          </tr>
        </thead>
        <tbody>
          {# table body #}
          {% for model in pagination %}
          <tr {% if loop.index is odd %}class="color"{% endif %}>
              <td>{{ model.name }}</td>
            <td>{{ model.collectionId }}</td>
            <td>{{ model.sku }}</td>
            <td>{{ model.prixHT }} € <sup>HT</sup></td>
            <td>{{ model.prixShop }} € <sup>HT</sup></td>
            <td>
              {% if model.isActive == 1 %}
                <span class="green"><i class="fa fa-check"></i></span>
              {% else %}
                <span class="red"><i class="fa  fa-close"></i></span>
              {% endif %}
            </td>
            <td>
              {% if model.isShop == 1 %}
                <span class="green"><i class="fa fa-check"></i></span>
              {% else %}
                <span class="red"><i class="fa  fa-close"></i></span>
              {% endif %}</td>
            <td>
              {% if model.isContract == 1 %}
                <span class="green"><i class="fa fa-check"></i></span>
              {% else %}
                <span class="red"><i class="fa  fa-close"></i></span>
              {% endif %}
            </td>
            <td>
                {% if model.type == 1 %}
                    Ready-Made Model
                {% elseif model.type == 2 %}
                    Ceremony
                {% elseif model.type == 3 %}
                    Both
                {% elseif model.type == 4 %}
                    Other
                {% endif %}
            </td>
            <td>{{ model.minShipWeek }}</td>
            <td>{{ model.maxShipWeek }}</td>
            <td>
                {% for size in model.sizes %}
                  {% if size.isActive == 1 %}
                    <span class="green">{{ size.nameSize }}</span>
                  {% else %}
                    <span class="red">{{ size.nameSize }}</span>
                  {% endif %}
                {% endfor %}
            </td>
            <td><a href="edit/{{ model.id }}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>&nbsp;<a href="edit/{{ model.id }}" class="btn btn-danger btn-xs"><i class="fa  fa-trash"></i></a>&nbsp;<a href="edit/{{ model.id }}" class="btn btn-warning btn-xs"><i class="fa fa-lock"></i></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {# display navigation #}
        <div class="">
          <div class="pull-left">
            <div class="col-md-5 col-sm-5 col-xs-5">
              <label for="displaydropdown">Display</label>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-5">
              <select id="displaydrop" name="displaydropdown">
                  <option value="25" {% if nbitem == 25 %}selected{% endif %}>25</option>
                  <option value="50" {% if nbitem == 50 %}selected{% endif %}>50</option>
                  <option value="100" {% if nbitem == 100 %}selected{% endif %}>100</option>
                  <option value="500" {% if nbitem == 500 %}selected{% endif %}>500</option>
                  <option value="1000" {% if nbitem == 1000 %}selected{% endif %}>1000</option>
              </select>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <a id="link" href="" class="btn btn-default btn-xs">Go !</a>
            </div>
          </div>
          <script>
            var sel = document.getElementById('displaydrop');
            sel.onchange = function () {
                //document.getElementById("link").href = this.value;
                var pathArray = window.location.pathname.split( '/' );
                var newURL = window.location.protocol + "//" + window.location.host + "/" + pathArray[1] + "/" + pathArray[2] + "/" + pathArray[3] + "/" + pathArray[4] + "/" + this.value;
                document.getElementById("link").href = newURL

            }
          </script>
          <div class="navigation">
              {{ knp_pagination_render(pagination) }}
          </div>

        </div>

      {% endif %}
    </div>
  </div>
</div>