{% extends 'publicbase.html.twig' %}

{% block title %}Rime Arodaky {{ title }}{% endblock %}

{% block body %}
				
				<form method="post" action="/public/{{ locale }}/meeting/formcancel/{{ meeting.id }}/{{ customer.id }}">
					<h4>Dear {{ customer.firstname }},</h4>
          <p>{%trans%}We are sorry to hear that you want to cancel our meeting in our{%endtrans%} {{ location.name }} {%trans%}on the{%endtrans%} {{ meeting.startDate|date('d/m/Y') }} {%trans%}at{%endtrans%} {{ meeting.startDate|date('H:i') }}.<br/>{%trans%}If that's true, please confirm by clicking on the button bellow.{%endtrans%} <br/><br/>{%trans%}Thanks{%endtrans%}, <br/><br/> {%trans%}The (d)Rime Team{%endtrans%}</p>
					<div class="button-submit text-center">
						<input class="btn btn-default black" type="submit" value="{%trans%}Confirm my cancelation{%endtrans%}">
						<a class="btn btn-default" href="http://ww.rime-arodaky.com" style="display:inline-block;border:0px;margin-bottom:40px;">{%trans%}Back to the website{%endtrans%}</a>
					</div>
				</form>
{% endblock %}

{% block footer %}  
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url('homepage') }}publicform/js/jquery.min.js"></script>
    <script src="{{ url('homepage') }}publicform/js/jquery-ui.min.js"></script>
    <script src="{{ url('homepage') }}publicform/js/main.js"></script>          
{% endblock %}