{% extends 'publicbase.html.twig' %}

{% block title %}Rime Arodaky - Mieux vous connaitre...{% endblock %}

{% block body %}
			<div class="alert alert-success" role="alert">
        <strong>Super !</strong> Ça a fonctionné.
        </div>
			<p style="margin-top:30px;">Merci {{ customer.firstName }}&nbsp;! Nous avons bien pris en compte vos souhaits.<br/>
        Nous vous attendons donc le {{ meeting.startDate|date('d/m/Y \\à h:i')}} au {{ location.name }} ({{ location.address}}, {{location.zipCode}} {{location.city}}). À très très vite&nbsp;!
        <br/>
        <br/>
				La (D)Rime Team.
      </p>
			
		<div class="text-center">
			<a class="btn btn-default black" href="" style="display:inline-block">Site web</a>
		</div>
{% endblock %}

{% block footer %}  
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url('homepage') }}publicform/js/jquery.min.js"></script>
    <script src="{{ url('homepage') }}publicform/js/jquery-ui.min.js"></script>
    <script src="{{ url('homepage') }}publicform/js/main.js"></script>          
{% endblock %}    