{% extends 'base.html.twig' %}

{% block title %}Rime Arodaky {{ title }}{% endblock %}

{% block body %}
  <div class="container body">
      <div class="main_container">

        <div class="col-md-3 left_col menu_fixed">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/" class="site_title"><span><img src="{{ url('homepage') }}build/images/logo.png" height="39px" style="margin-left: 36px"></span></a>
            </div>

            <div class="clearfix"></div>

            {{ include('bloc/bloc-leftnav-profil.html.twig') }}

            <br />

            {{ include('bloc/bloc-leftnav-menu.html.twig') }}
            {{ include('bloc/bloc-leftnav-shortcut.html.twig') }}
            
          </div>
        </div>

        {{ include('bloc/bloc-topnav.html.twig') }}
        

        <!-- page content -->
        <div class="right_col" role="main">
          {% for message in app.flashes('success') %}
              <div class="alert alert-success">
                  {{ message }}
              </div>
          {% endfor %}
          
          {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SALE_MANAGER') or is_granted('ROLE_PROVIDER') or is_granted('ROLE_SALE') or is_granted('ROLE_PRODUCTION_MANAGER') %}
          <!-- top tiles -->
          {{ render(controller('AppBundle:Base:getStatData', {} )) }}
          <!-- /top tiles -->
          {% endif %}

          <div class="row">
            
            {{ include('calendar/bloc/content-calendar.html.twig') }}

          </div>

        </div>
        <!-- /page content -->

        {{ include('bloc/bloc-footer.html.twig') }}
        
      </div>
    </div>

{% endblock %}

{% block footer %}

    <!-- calendar modal -->
    <div id="CalenderModalNew" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">New Calendar Entry</h4>
          </div>
          <div class="modal-body">
            <div id="testmodal" style="padding: 5px 20px;">
              <form id="antoform" class="form-horizontal calender" role="form" relaction="/{{ locale }}/meeting/add/0" method="post">
                <h3>{% trans %}The customer{% endtrans %}</h3>
                <!-- CONTENU -->
                <div class="form-horizontal form-label-left">
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="role"></label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                      <div class="checkbox">
                        <label>
                          <input id="customer_exist" class="js-switch" type="checkbox"> {% trans %}This customer has already an account{% endtrans %}
                        </label>
                      </div>
                    </div>
                  </div>
                  <hr/>
                  <div id="newCustomer">
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="customer_salutation">{% trans %}Salutation{% endtrans %} <span class="required">*</span>
                      </label>
                      <div class="col-md-9 col-sm-9 col-xs-12">
                        <select id="customer_salutation" class="form-control">
                          <option value="3" selected>{% trans %}Miss{% endtrans %}</option>
                          <option value="2">{% trans %}Mrs{% endtrans %}</option>
                          <option value="1">{% trans %}Mr{% endtrans %}</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="customer_firstName">{% trans %}First name{% endtrans %} <span class="required">*</span>
                      </label>
                      <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text" placholder="{% trans %}First name{% endtrans %}" id="customer_firstName" class="form-control" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="customer_lastName">{% trans %}Last name{% endtrans %} <span class="required">*</span>
                      </label>
                      <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text" placholder="{% trans %}Last name{% endtrans %}" id="customer_lastName" class="form-control" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="customer_email">{% trans %}Email{% endtrans %} <span class="required">*</span>
                      </label>
                      <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text" placholder="{% trans %}Email{% endtrans %}" id="customer_email" class="form-control" />
                      </div>
                    </div>
                    <hr/>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="customer_address">{% trans %}Address{% endtrans %}
                      </label>
                      <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text" placholder="{% trans %}Address{% endtrans %}" id="customer_address" class="form-control" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="customer_postcode">{% trans %}Post code and city{% endtrans %}
                      </label>
                      <div class="col-md-3 col-sm-3 col-xs-12">
                        <input type="text" id="customer_postcode" placeholder="{% trans %}Post code{% endtrans %}" class="form-control"/>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="customer_city"  placeholder="{% trans %}City{% endtrans %}" class="form-control" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="customer_state">{% trans %}State{% endtrans %}
                      </label>
                      <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text" placholder="{% trans %}State{% endtrans %}" id="customer_state" class="form-control" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="customer_country">{% trans %}Country{% endtrans %}
                      </label>
                      <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="" placholder="{% trans %}Country{% endtrans %}" id="customer_country" class="form-control" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="customer_phone">{% trans %}Phone{% endtrans %}
                      </label>
                      <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text" placholder="{% trans %}Phone{% endtrans %}" id="customer_phone" class="form-control" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">{% trans %}Language{% endtrans %} <span class="required">*</span></label> 
                      <div class="col-md-9 col-sm-9 col-xs-12">
                        <div id="locale" class="btn-group" data-toggle="buttons">
                          <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                            <input type="radio" name="locale" value="en"> &nbsp; {% trans %}English{% endtrans %} &nbsp;
                          </label>
                          <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                            <input type="radio" name="locale" value="fr"> {% trans %}French{% endtrans %}
                          </label>
                          <input type="hidden" id="OrderType_customer_locale" value=""/>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="role"></label>
                      <div class="col-md-8 col-sm-8 col-xs-12">
                          <div class="checkbox">
                            <label><input type="checkbox" placholder="{% trans %}Phone{% endtrans %}" id="customer_optin" class="js-switch" /> {% trans %}Opt-In{% endtrans %}</label>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div id="oldCustomer" style="display:none;">
                    <div class="form-horizontal form-label-left">
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="shop_name">{% trans %}Customer Name{% endtrans %}
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input id="customer-input" class="form-control col-md-7 col-xs-12" type="text" placeholder="Customer Name">
                          <input id="OrderType_customer_idCustomer" name="idCustomer" value="" type="hidden">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <!-- // CONTENU -->
                <hr/>
                <h3>{% trans %}The meeting{% endtrans %}</h3>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Title</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="title" name="title2">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Description</label>
                  <div class="col-sm-9">
                    <textarea class="form-control" style="height:55px;" id="desc" name="desc"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Date début</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="start" name="start" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Date Fin</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="end" name="end" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Lieu</label>
                  <div class="col-sm-9">
                    <select class="form-control" id="location" name="type">
                      {% for location in locations %}
                      <option value="{{ location.id }}">{{ location.name }} ({{location.secondName}})</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-3 control-label"></div>
                  <div class="checkbox col-sm-9">
                    <label>
                      <input type="checkbox" id="notif" name="notif" class="js-switch"/> Notifier le client
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Type</label>
                  <div class="col-sm-9">
                    <select class="form-control" id="type" name="type">
                      <option value="0">Autre</option>
                      <option value="1">1er Rendez-vous (Découverte)</option>
                      <option value="2">2eme rendez-vous (Réessayage) (multiple)</option>
                      <option value="3">1ere essayage (Après commande)</option>
                      <option value="4">2eme essayage (multiple)</option>
                      <option value="5">Pick up on store (Eshop)</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Sale</label>
                  <div class="col-sm-9">
                    <select class="form-control" id="sale" name="type">
                      {% for sales in salesmen %}
                      <option value="{{ sales.id }}">{{ sales.firstName }} {{ sales.lastName }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>




              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default antoclose" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary antosubmit">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <div id="CalenderModalEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel2">Edit meeting for our guest <span id="nameCustomer"></span></h4>
          </div>
          <div class="modal-body">

            <div id="testmodal2" style="padding: 5px 20px;">
              <form id="antoform2" class="form-horizontal calender" role="form" relaction="/{{ locale }}/meeting/" method="post">
                <div class="form-group">
                  <label class="col-sm-3 control-label">Title</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="title2" name="title2">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Description</label>
                  <div class="col-sm-9">
                    <textarea class="form-control" style="height:55px;" id="desc2" name="desc"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Date début</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="start2" name="start" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Date Fin</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="end2" name="end" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Lieu</label>
                  <div class="col-sm-9">
                    <select class="form-control" id="location2" name="type">
                      {% for location in locations %}
                      <option value="{{ location.id }}">{{ location.name }} ({{location.secondName}})</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-3 control-label"></div>
                  <div class="checkbox col-sm-9">
                    <label>
                      <input type="checkbox" id="notif2" name="notif" /> Notifier le client
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Type</label>
                  <div class="col-sm-9">
                    <select class="form-control" id="type2" name="type">
                      <option value="0">Autre</option>
                      <option value="1">1er Rendez-vous (Découverte)</option>
                      <option value="2">2eme rendez-vous (Réessayage) (multiple)</option>
                      <option value="3">1ere essayage (Après commande)</option>
                      <option value="4">2eme essayage (multiple)</option>
                      <option value="5">Pick up on store (Eshop)</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Sale</label>
                  <div class="col-sm-9">
                    <select class="form-control" id="sale2" name="type">
                      {% for sales in salesmen %}
                      <option value="{{ sales.id }}">{{ sales.firstName }} {{ sales.lastName }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <p class="col-sm-3 control-label"><strong>Created on</strong></p>
                  <div class="col-sm-9">
                    <p id="createdon2" style="padding-top: 7px;"></p>
                  </div>
                </div>

              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" rel="{{ url('homepage') }}{{ locale }}/customers/single/view/" class="btn btn-success antoviewcustomer2">Voir client</button>
            <button type="button" class="btn btn-danger antocancel2">Annuler le rendez-vous</button>
            <button type="button" class="btn btn-default antoclose2" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary antosubmit2">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <div id="fc_create" data-toggle="modal" data-target="#CalenderModalNew"></div>
    <div id="fc_edit" data-toggle="modal" data-target="#CalenderModalEdit"></div>
    <!-- end calendar modal -->


  <!-- jQuery -->
    <script src="{{ url('homepage') }}vendors/jquery/dist/jquery.min.js"></script>
    <!-- jQueryUI -->
    <script src="{{ url('homepage') }}vendors/jquery-ui/jquery-ui.min.js"></script>
    <!-- Bootstrap -->
    <script src="{{ url('homepage') }}vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="{{ url('homepage') }}vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="{{ url('homepage') }}vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="{{ url('homepage') }}vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="{{ url('homepage') }}vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="{{ url('homepage') }}vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    
    <!-- iCheck -->
    <script src="{{ url('homepage') }}vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="{{ url('homepage') }}vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="{{ url('homepage') }}vendors/Flot/jquery.flot.js"></script>
    <script src="{{ url('homepage') }}vendors/Flot/jquery.flot.pie.js"></script>
    <script src="{{ url('homepage') }}vendors/Flot/jquery.flot.time.js"></script>
    <script src="{{ url('homepage') }}vendors/Flot/jquery.flot.stack.js"></script>
    <script src="{{ url('homepage') }}vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="{{ url('homepage') }}vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="{{ url('homepage') }}vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="{{ url('homepage') }}vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="{{ url('homepage') }}vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="{{ url('homepage') }}vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="{{ url('homepage') }}vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="{{ url('homepage') }}vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- Switchery -->
    <script src="{{ url('homepage') }}vendors/switchery/dist/switchery.js"></script>
    <!-- Time -->
    <script src="{{ url('homepage') }}vendors/moment/min/moment.min.js"></script>
    <!-- bootstrap-datetimepicker -->    
    <script src="{{ url('homepage') }}vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{{ url('homepage') }}vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- ColorPicker -->
    <script src="{{ url('homepage') }}vendors/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <!-- Calendar -->
    <script src='lib/jquery-ui.custom-datepicker.js'></script>
    <script src="{{ url('homepage') }}vendors/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="{{ url('homepage') }}build/js/fr.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="{{ url('homepage') }}build/js/custom.min.js"></script>
    <script src="{{ url('homepage') }}build/js/rarcustom.js"></script>
    <!-- Custom Theme Scripts -->

    <script>
      var str = JSON.stringify( {{ meetings|json_encode(constant('JSON_PRETTY_PRINT'))|raw }});
      stringified = str.replace(/starta/g, 'start');
      stringified2 = stringified.replace(/enda/g, 'end');
      var jsonObject = JSON.parse(stringified2);
      //var res = str.replace("starta", "start");
      //var res2 = res.replace("enda", "end");
      console.log(jsonObject);

      $('#start2').datetimepicker({format: 'yyyy-mm-dd hh:ii', minuteStep:15});
      $('#end2').datetimepicker({format: 'yyyy-mm-dd hh:ii', minuteStep:15});

      var changeCheckbox = document.querySelector('#customer_exist');
      changeCheckbox.onchange = function() {
          //alert(changeCheckbox.checked);
          var oldCustomer = document.querySelector('#oldCustomer');
          var newCustomer = document.querySelector('#newCustomer');
          if(changeCheckbox.checked == true){
              $('#newCustomer').hide();
              $('#oldCustomer').show();
          }else{
              $('#oldCustomer').hide();
              $('#newCustomer').show();
              $( "#OrderType_customer_id" ).val('');
              $( "#customer-input" ).val('')
          }
      };

      $( function() {
            function log( message ) {
                $( "<div>" ).text( message ).prependTo( "#log" );
                $( "#log" ).scrollTop( 0 );
            }
            $( "#customer-input" ).autocomplete({
              source: function( request, response ) {
                $.ajax( {
                  type:"GET",
                  url: "{{ (path('app_customer_route')) }}",
                  dataType: "json",
                  data: { value: request.term },
                  success: function( data ) {
                    response( data );
                  }
                } );
              },
              minLength: 3,
              select: function( event, ui ) {
                $( "#OrderType_customer_idCustomer" ).val( ui.item.id );
              }
            })
          } 
      );

      function init_calendar() {
        if ("undefined" != typeof $.fn.fullCalendar) {
            console.log("init_calendar-Joffrey");
            var e, f, a = new Date,
                b = a.getDate(),
                c = a.getMonth(),
                d = a.getFullYear(),
                g = $("#calendar").fullCalendar({
                    timeFormat: 'H:mm',
                    locale:'{{ locale }}',
                    header: {
                        left: "prev,next today",
                        center: "title",
                        right: "month,agendaWeek,agendaDay,listMonth"
                    },
                    selectable: !0,
                    selectHelper: !0,
                    slotDuration: '00:15:00',
                    allDaySlot: false,
                    defaultView: 'agendaWeek',
                    minTime: '07:00:00',
                    maxTime: '21:00:00',
                    height: 800,
                    aspectRatio: 2,
                    firstDay: '1',
                    timezone : 'Europe/Paris',
                    select: function(a, b, c) {
                          $("#start").val(a.format('YYYY-MM-DD HH:mm'));
                          $("#end").val(b.format('YYYY-MM-DD HH:mm'));
                          $("#lieu").val();
                          $("#title").val();
                          $("#desc").val();

                          $("#fc_create").click(), e = a, ended = b, $(".antosubmit").on("click", function() {
                            var action = $("#antoform").attr('relaction');
                            var title = $("#title").val();
                            var comment = $("#desc").val();
                            var lieu = $("#lieu").val();
                            var notif = $('#notif').prop('checked');
                            var start = $('#start').val();
                            var end = $('#end').val();

                            if( notif == false ){
                              var notif = 0;
                            }else{
                              var notif = 1;
                            }
                            var type = $('#type').val();
                            var sale = $("#sale").val();
                            var salesmen = $("#sale option:selected").text();
                            // ---- User Exist ---- //
                            var cusId = $('#OrderType_customer_idCustomer').val();
                            var customerexist = $('#customer_exist').prop('checked');
                            if( customerexist == false ){
                              // ----  User ---- //
                              var salutation = $('#customer_salutation').val();
                              var firstname = $('#customer_firstName').val();
                              var lastname = $('#customer_lastName').val();
                              var address = $('#customer_address').val();
                              var email = $('#customer_email').val();
                              var postcode = $('#customer_postcode').val();
                              var city = $('#customer_city').val();
                              var state = $('#customer_state').val();
                              var country = $('#customer_country').val();
                              var phone = $('#customer_phone').val();
                              var notif = $('#notif').prop('checked');
                              var optin = $('#customer_optin').prop('checked');
                            };

                            $('#loading-bar').fadeIn();
                            $.ajax( {
                                type:"POST",
                                url: action,
                                dataType: "json",
                                data: {title: title,start: start,end: end,comment: comment,lieu: lieu,type: type,sale: sale,lieu: lieu,state: state,notif: notif,cusId:cusId,customerexist: customerexist,cusId: cusId,salutation: salutation,firstname: firstname,lastname: lastname,address: address,email: email,postcode: postcode,city: city,state: state,country: country,phone: phone,optin: optin},
                                success: function( data ) {
                                  $('#loading-bar').fadeOut();
                                  var color = data.color;
                                  var ref = data.idMeeting;
                                  var id = data.idMeeting;
                                  // TEST
                                  return b && (ended = b), f = $("#event_type").val(), a && g.fullCalendar("renderEvent", {
                                      id:id,
                                      ref:ref,
                                      cusId:cusId,
                                      title: salesmen+' - '+title,
                                      title2: title,
                                      start: e,
                                      end: b,
                                      comment: comment,
                                      location: location,
                                      type: type,
                                      sale: sale,
                                      lieu: lieu,
                                      state: state,
                                      notif: notif,
                                      cusId: cusId,
                                      color: color,
                                      customerexist: customerexist,
                                      cusId: cusId,
                                      salutation: salutation,
                                      firstname: firstname,
                                      lastname: lastname,
                                      address: address,
                                      email: email,
                                      postcode: postcode,
                                      city: city,
                                      state: state,
                                      country: country,
                                      phone: phone,
                                      optin: optin
                                  }, !0), 
                                  $("#title").val(""),
                                  g.fullCalendar("unselect"),
                                  $(".antoclose").click(), !1
                                },
                                complete: function(){

                                }
                            });
                            $('.antosubmit').off('click').click(function(){
                              g.fullCalendar("unselect");
                            });
                          })
                    },
                    eventClick: function(a, b, c) {
                      /****** CLICK ON EVENT **********/
                        var action = $("#antoform2").attr('relaction')+'edit/'+a.ref;
                        var deleteaction = $("#antoform2").attr('relaction')+'cancel/'+a.ref;
                        //var href = $('.antoviewcustomer2').attr('href');
                        //$('.antoviewcustomer2').attr('href', href + a.ref);

                        if(a.notifStatus == 1){
                          var state = true;
                        }else{
                          var state = false;
                        };
                        $("#fc_edit").click(),
                        $("#title2").val(a.title2),
                        $("#desc2").val(a.comment),
                        $("#lieu2").val(a.location),
                        $("#start2").val(a.start.format('YYYY-MM-DD HH:mm') ),
                        $("#end2").val(a.end.format('YYYY-MM-DD HH:mm') ),
                        $('#notif2').prop('checked', state),
                        $('#type2').val(a.type),
                        $("#sale2").val(a.sale),
                        $('#nameCustomer').html(a.customer),
                        $("#createdon2").html(a.createdOn),
                        f = $("#event_type").val(),
                        /****** CLICK ON CANCEL EVENT **********/
                        $(".antocancel2").on("click", function() {
                          console.log('here');
                          var comment = $("#desc2").val();
                          $('#loading-bar').fadeIn();
                          $.ajax( {
                              type:"POST",
                              url: deleteaction,
                              dataType: "json",
                              data: { id:a.ref, comment:comment }, // Check AJAX Notif
                              success: function( data ) {
                                $('#loading-bar').fadeOut();
                                g.fullCalendar('removeEvents',a.ref);
                                $(".antoclose2").click();
                              },
                              complete: function(){
                                
                              }
                          });

                          $('.antocancel2').off('click').click(function(){
                            //$('.antoviewcustomer2').attr('href', href);
                            g.fullCalendar("unselect");
                          });
                        }), g.fullCalendar("unselect");
                        /****** CLICK ON VIEW CUSTOMER *******/
                        $(".antoviewcustomer2").on("click", function() {

                          var href = $('.antoviewcustomer2').attr('rel');
                          console.log('hey');
                          window.location.href = href + a.cusId;
                        });
                        
                        /****** CLICK ON EDIT EVENT **********/
                        $(".antosubmit2").on("click", function() {

                            $('#loading-bar').fadeIn();
                            var title = $("#title2").val();
                            var start = $("#start2").val();
                            var end = $("#end2").val();
                            var notif = $("#notif2").prop('checked');
                            var comment = $("#desc2").val();
                            var location = $("#lieu2").val();
                            var type = $("#type2").val();
                            var sale = $("#sale2").val();
                            var state = $("#notif2").val();
                            var salesmen = $("#sale2 option:selected").text();
                            $.ajax( {
                              type:"POST",
                              url: action,
                              dataType: "json",
                              data: {id:a.ref,title:title,start:start,end:end,comment:comment,location:location,type:type,sale:sale,notif:notif},
                              success: function( data ) {
                                a.title = salesmen+' - '+title,
                                a.start = start,
                                a.end = end,
                                a.comment = comment,
                                a.location = location,
                                a.type = type,
                                a.sale = sale,
                                a.state = state,
                                g.fullCalendar("updateEvent", a),
                                $(".antoclose2").click();
                                $('#loading-bar').fadeOut();
                              },
                              complete: function(){
                                
                              }
                            });
                            $('.antosubmit2').off('click').click(function(){
                              g.fullCalendar("unselect");
                              //$('.antoviewcustomer2').attr('href', href);
                            });
                        }), g.fullCalendar("unselect");
                    },
                    editable: !0,
                    events: jsonObject
                })
        }
      }
      init_calendar();
    </script>
    <style>
      ul.ui-autocomplete {
          z-index: 1100 !important;
      }

    </style>
{% endblock %}
