{% extends 'base.html.twig' %}

{% block title %}Rime Arodaky {{ title }}{% endblock %}

{% block body %}
  <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col menu_fixed">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/" class="site_title"><span><img src="{{ url('homepage') }}build/images/logo.png" height="39px" style="margin-left: 36px"></span></a>
            </div>
            <div class="clearfix"></div>
            {{ include('bloc/bloc-leftnav-profil.html.twig') }}
            <br />
            {{ include('bloc/bloc-leftnav-menu.html.twig') }}
            {{ include('bloc/bloc-leftnav-shortcut.html.twig') }}
          </div>
        </div>
        {{ include('bloc/bloc-topnav.html.twig') }}

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="title_left">
            <h3>{{ h1 }}</h3>
          </div>
          {% for message in app.flashes('success') %}
              <div class="alert alert-success">
                  {{ message }}
              </div>
          {% endfor %}

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              {% if customerAllow == 1 and order.type == 0 %}
                <div class="x_panel">
                  <div class="x_title">
                    <h2>
                        {% trans %}Order header{% endtrans %}
                        <small>{% trans %}Who's order for ?{% endtrans %}</small>
                      </h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                          <div class="panel-heading">{% trans %}Customer infos{% endtrans %}</div>
                          <div class="panel-body">
                            <h4>{% if customer.salutation == 1 %}{% trans %}Mr.{% endtrans %}{% elseif customer.salutation == 2 %}{% trans %}Mrs.{% endtrans %}{% else %}{% trans %}Miss.{% endtrans %}{% endif %} {{ customer.firstName }} {{ customer.lastName }}</h4>
                            <p>{{ customer.address }}<br/>
                              {{ customer.postCode }} {{ customer.city }}<br/>
                              {{ customer.state }}, {{ customer.country }}</p>
                            <p>{{ customer.phone }}<br/>
                            {{ customer.email }}</p>
                            <p><strong>{% trans %}Subscriber{% endtrans %}:</strong> {% if customer.optin == 1 %}{% trans %}Yes{% endtrans %}{% else %}{% trans %}No{% endtrans %}{% endif %}<br/>
                            <strong>{% trans %}Language{% endtrans %}:</strong> {% if customer.locale == 'fr' %}{% trans %}French{% endtrans %}{% elseif customer.locale == 'en' %}{% trans %}English{% endtrans %}{% else %}{% trans %}None define{% endtrans %}{% endif %}</p>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                          <div class="panel-heading">{% trans %}Shop infos{% endtrans %}</div>
                          <div class="panel-body">
                            <h4>{{ shop.name }} ({{ shop.extention }})</h4>
                            <p>{{ shop.address }}<br/>
                                {{ shop.zipCode }} {{ shop.city }}<br/>
                                {{ shop.country }}</p>
                            <p>{{ shop.phone }}<br/>
                                {{ shop.email }}</p>
                            <p><strong>{% trans %}VAT num{% endtrans %}:</strong> {{ shop.vatNum }}<br/>
                            <strong>{% trans %}Language{% endtrans %}:</strong> {% if shop.locale == 'fr' %}{% trans %}French{% endtrans %}{% elseif shop.locale == 'en' %}{% trans %}English{% endtrans %}{% else %}{% trans %}None define{% endtrans %}{% endif %}</p>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              {% elseif order.type == 0 %}
                <div class="x_panel">
                  <div class="x_title">
                    <h2>
                        {% trans %}Customer infos{% endtrans %}
                        <small>{% trans %}Who's order for ?{% endtrans %}</small>
                      </h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    {{ order.customerName }}
                  </div>
                </div>
              {% else %}
              {% endif %}

              <!-- Review -->
              <div class="x_panel">
                <div class="x_title">
                  <h2>
                    {% trans %}Notes about this order{% endtrans %}
                  </h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  {% if notes is empty %}
                    <div class="alert alert-info">Not any review has been added to this order.</div>
                  {% else %}
                    {% for note in notes %}
                    <div class="note">
                      <div class="author">
                        <p class="img-note"><span class="image">
                        {% if (note.user.imagePath) %}
                        <img src="{{ asset('uploads/pic/profile/' ~ note.user.imagePath) | imagine_filter('my_thumb') }}" alt="{{ note.user.firstName }}" class="img-circle profile_img"/>
                        {% else %}
                        <img src="{{ url('homepage') }}build/images/profilpic.png" alt="..." class="img-circle profile_img">
                        {% endif %}
                        </span></p>
                        <p class="txt-note">
                          <strong>{{ note.user.firstName }} {{ note.user.lastName }}</strong><br/>
                          <em>{{ note.dateCreation|date('d/m/Y H:m') }}</em>
                        </p>
                      </div>
                      <div class="bubblechat">
                          <p>{{ note.comment }}</p>
                      </div>
                    </div>
                    {% endfor %}
                  {% endif %}
                </div>

              {{ form_start(form) }}
              {% form_theme form 'orders/bloc/modelEditOrderedBloc.html.twig' %}
              {{ form(form) }}
              
              {{ form_end(form) }}
            </div>

          </div>

        </div>
        <!-- /page content -->

        {{ include('bloc/bloc-footer.html.twig') }}
        
      </div>
    </div>

{% endblock %}

{% block footer %}
  <!-- Modal Payment -->
    <div class="modal fade" id="modelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{% trans %}Add new product{% endtrans %}</h4>
          </div>
          <div class="modal-body">
            <div id="formPayment">
              <div class="form-horizontal form-label-left">
                <!-- Debut Form -->
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="model">
                    {% trans %}Model{% endtrans %}
                    <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select class="form-control" id="model" name="model">
                      <option value="-"></option>
                      {% for model in modelslist %}
                      <option value="{{ model.id }}" rel="{{ model.name }} ({{ model.sku }})">
                        {{ model.name }} ({{ model.sku }})
                      </option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="size">
                    {% trans %}Size{% endtrans %}
                    <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12" style="position:relative;">
                    <select class="form-control" id="size" name="size">
                    </select>
                    <div id="loadingisize" style="display:none;">
                      <img src="{{ url('homepage') }}build/images/loading2.gif" alt="" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="length">
                    {% trans %}Length{% endtrans %}
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" value="" id="length" name="length"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="comment">
                    {% trans %}Comment{% endtrans %}
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea class="form-control" id="comment"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-12 col-sm-12 col-xs-12">
                    <p class="col-md-3 col-sm-3 col-xs-12"><input type="checkbox" id="isCommentInvoice" name="isCommentInvoice" class="js-switch" /></p>
                    <p class="col-md-6 col-sm-6 col-xs-12">{% trans %}Display comment on invoice{% endtrans %}?</p>
                  </label>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="comment">
                    {% trans %}Status{% endtrans %}
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="status" name="status" class="form-control col-md-7 col-xs-12">
                      <option value="0" selected="selected">{% trans %}To do{% endtrans %}</option>
                      <option value="1" rel="{% trans %}In stock{% endtrans %}">{% trans %}In stock{% endtrans %}</option>
                      <option value="2" rel="{% trans %}Sent to workroom{% endtrans %}">{% trans %}Sent to workroom{% endtrans %}</option>
                      <option value="3" rel="{% trans %}Cut{% endtrans %}">{% trans %}Cut{% endtrans %}</option>
                      <option value="4" rel="{% trans %}In production{% endtrans %}">{% trans %}In production{% endtrans %}</option>
                      <option value="5" rel="{% trans %}Sent by the workroom{% endtrans %}">{% trans %}Sent by the workroom{% endtrans %}</option>
                      <option value="6" rel="{% trans %}Received by Rime Arodaky{% endtrans %}">{% trans %}Received by Rime Arodaky{% endtrans %}</option>
                      <option value="7" rel="{% trans %}Received with error{% endtrans %}">{% trans %}Received with error{% endtrans %}</option>
                      <option value="8" rel="{% trans %}Controlled{% endtrans %}">{% trans %}Controlled{% endtrans %}</option>
                      <option value="9" rel="{% trans %}Shipped{% endtrans %}">{% trans %}Shipped{% endtrans %}</option>
                      <option value="10" rel="{% trans %}Finished{% endtrans %}">{% trans %}Finished{% endtrans %}</option>
                    </select>
                  </div>
                </div>
                <!-- Fin Form -->
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="saveModel" href="/{{ locale }}/orders/update/addmodel/{{ order.id }}" >Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- //Modal Payment -->
    <!-- jQuery -->
    <script src="{{ url('homepage') }}vendors/jquery/dist/jquery.min.js"></script>
    <!-- jQueryUI -->
    <script src="{{ url('homepage') }}vendors/jquery-ui/jquery-ui.min.js"></script>
    <!-- Bootstrap -->
    <script src="{{ url('homepage') }}vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="{{ url('homepage') }}vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="{{ url('homepage') }}vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="{{ url('homepage') }}vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="{{ url('homepage') }}vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="{{ url('homepage') }}vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="{{ url('homepage') }}vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="{{ url('homepage') }}vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="{{ url('homepage') }}vendors/Flot/jquery.flot.js"></script>
    <script src="{{ url('homepage') }}vendors/Flot/jquery.flot.pie.js"></script>
    <script src="{{ url('homepage') }}vendors/Flot/jquery.flot.time.js"></script>
    <script src="{{ url('homepage') }}vendors/Flot/jquery.flot.stack.js"></script>
    <script src="{{ url('homepage') }}vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="{{ url('homepage') }}vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="{{ url('homepage') }}vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="{{ url('homepage') }}vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="{{ url('homepage') }}vendors/DateJS/build/date.js"></script>
    <!-- Collection -->
    <script src="{{ url('homepage') }}vendors/collection/collection.js"></script>
    <!-- Switchery -->
    <script src="{{ url('homepage') }}vendors/switchery/dist/switchery.js"></script>
    <!-- JQVMap -->
    <script src="{{ url('homepage') }}vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="{{ url('homepage') }}vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="{{ url('homepage') }}vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- ColorPicker -->
    <script src="{{ url('homepage') }}vendors/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{{ url('homepage') }}vendors/moment/min/moment.min.js"></script>
    <script src="{{ url('homepage') }}vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="{{ url('homepage') }}build/js/custom.min.js"></script>
    <script src="{{ url('homepage') }}build/js/rarcustom.js"></script>
    <script type="text/javascript">

        function searchSizeModal(){
          $('#modelModal select#model').on('change', function(){
              var val = $(this).val();
              var rel = 'EditOrder';
              $('#modelModal select#size').html('');
              $('#loadingisize').fadeIn();
              $.ajax({
                  url:'{{ (path('app_size_route')) }}',
                  type: "POST",
                  dataType: "json",
                  data: {"val": val, "rel": rel},
                  async: true,
                  success: function (data){
                      $('#modelModal select#size').append('<option></option>');
                      $.each(data, function(index, s) {
                          $('#modelModal select#size').append('<option value="'+s.nameSize+'">'+s.nameSize+'</option>')
                      });
                  },
                  complete: function(){
                    $('#loadingisize').fadeOut();
                  }
              });
              return false;
          });
        }

        searchSizeModal();

        $('button#saveModel').on('click', function(e){
          e.preventDefault();
          var model = $('#modelModal select#model').val();
          var modelName = $('#modelModal select#model option:selected').attr('rel');
          var size = $('#modelModal select#size').val();
          var status = $('#modelModal select#status').val();
          var statusName = $('#modelModal select#status option:selected').attr('rel');
          var length = $('#modelModal input#length').val();
          var comment = $('#modelModal #comment').val();
          
          var isCommentInvoice = $('#modelModal #isCommentInvoice').val();
          if(isCommentInvoice == 'on'){
            var isCommentInvoiceTxt = 'oui';
            var isCommentInvoiceNum = '1';
          }else{
            var isCommentInvoiceTxt = 'non';
            var isCommentInvoiceNum = '0';
          }
          var href = $(this).attr('href');
          var lengthitem = $('#OrderType_modelsOrdered tbody tr').length;
          $('#loading-bar').fadeIn();
          $.ajax( {
              type:"GET",
              url: href,
              dataType: "json",
              data: { value:'addmodel', model: model, size: size, length:length, comment:comment, status:status, isCommentInvoice:isCommentInvoice },
              success: function( data ) {
                var html = '<tr class="item">'
                + '<td style="vertical-align: middle;">'+modelName+'<input type="hidden" value="'+model+'" name="OrderType[modelsOrdered]['+lengthitem+'][model]"/></td>'
                + '<td style="vertical-align: middle;">'+size+'<input type="hidden" value="'+size+'" name="OrderType[modelsOrdered]['+lengthitem+'][size]"/></td>'
                + '<td style="vertical-align: middle;">'+length+' cm<input type="hidden" value="'+length+'" name="OrderType[modelsOrdered]['+lengthitem+'][heels]"/></td>'
                + '<td style="vertical-align: middle;">'+comment+'<input type="hidden" value="'+comment+'" name="OrderType[modelsOrdered]['+lengthitem+'][comment]"/></td>'
                + '<td style="vertical-align: middle;">'+isCommentInvoiceTxt+'<input type="hidden" value="'+isCommentInvoiceNum+'" name="OrderType[modelsOrdered]['+lengthitem+'][isCommentInvoice]"/></td>'
                + '<td style="vertical-align: middle;">'+statusName+'<input type="hidden" value="'+status+'" name="OrderType[modelsOrdered]['+lengthitem+'][status]"/></td>'
                + '</tr>'
                $('#OrderType_modelsOrdered tbody').append(html);
                $('#modelModal').modal('hide');
              },
              complete: function(){
                $('#loading-bar').fadeOut();
              }
            });
        });

    </script>
    <style>
      #loadingisize{
        position: absolute;
        top: -1px;
        right: 34px;
      }
    </style>
{% endblock %}
