

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="page-title">
    <div class="title_left">
      <h3>{{ p1h2 }}</h3>
    </div>

    <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group pull-right" style="margin:0px">
          <form class="form-inline" method='post' action='/{{locale}}/customers/search/{{nbitem}}/'>
            <div class="form-group" style="margin:0px">
              <label class="sr-only" for="term">Search</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="{{searchterm}}" name="term" id="term" style="border: 1px solid #ccc;">
                <div class="input-group-addon" style="padding: 0px;"><input type="submit" class="btn btn-default" type="button" value="Go!" style="margin: 0px;background: transparent;border: none;"/></div>
              </div>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>



  <div class="x_panel">
    <div class="x_title">
      <h2>{% trans %}Find the {% endtrans %}{{ pagination.getTotalItemCount }} {% trans %}customers below{% endtrans %}</h2>
      <div class="col-md-2 pull-right"><a href="/admin/{{ locale }}/models/create/" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> {% trans %}Add a new customer{% endtrans %}</a></div>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      {% if searchterm is empty %}
      {% else %}
        <p class="text-muted font-13 m-b-30">{% trans %}We have found{% endtrans %} {{ pagination.getTotalItemCount }} {% trans %}customers corresponding to your search{% endtrans %}: {{searchterm}}</p>
      {% endif %}

      {% if pagination.getTotalItemCount == 0 %}
      <div class="alert alert-info"><strong>Oups!</strong> Nothing has been found with the terms '{{searchterm}}'...<a class="btn btn-default" href="/admin/{{locale}}/customers/view/{{nbitem}}">Watch all customers</a></div>
      {% else %}

      <table id="datatable-buttons" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th{% if pagination.isSorted('a.lastName') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Last name', 'a.lastName') }}</th>
            <th{% if pagination.isSorted('a.firstName') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'First name', 'a.fistName') }}</th>
            <th{% if pagination.isSorted('a.city') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'City', 'a.city') }}</th>
            <th{% if pagination.isSorted('a.phone') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Phone', 'a.phone') }}</th>
            <th{% if pagination.isSorted('a.email') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Email', 'a.email') }}</th>
            <th>{% trans %}Nb Orders{% endtrans %}</th>
            <th{% if pagination.isSorted('a.dateCreation') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Cus. since', 'a.dateCreation') }}</th>
            <th>{% trans %}Action{% endtrans %}</th>
          </tr>
        </thead>
        <tbody>
          {# table body #}
          {% for customer in pagination %}
          <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td>{{ customer.lastName }}</td>
            <td>{{ customer.firstName }}</td>
            <td>{{ customer.city }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.orders|length }}</td>
            <td>{{ customer.dateCreation | date('Y-m-d') }}</td>
            <td></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {# display navigation #}
      <div class="navigation">
          {{ knp_pagination_render(pagination) }}
      </div>
      {% endif %}
    </div>



  </div>
</div>