<!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              {% if is_granted('ROLE_USER') %}
              <div class="menu_section">
                <h3>{% trans %}General{% endtrans %}</h3>
                <ul class="nav side-menu">
                   <li><a href="/{{ locale }}/orders/view/all/all"><i class="fa fa-edit"></i> {% trans %}All Orders{% endtrans %}</a></li>
                </ul>
              </div>
              {% endif %}
              {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SALE_MANAGER') or is_granted('ROLE_PROVIDER') or is_granted('ROLE_SALE') or is_granted('ROLE_PRODUCTION_MANAGER') %}
              <div class="menu_section">
                <h3>{% trans %}General{% endtrans %}</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> {% trans %}Orders{% endtrans %} <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <!--<li><a href="/{{ locale }}/order-dashboard">{% trans %}Dashboard{% endtrans %}</a></li>-->
                      <li><a href="/{{ locale }}/orders/view/all/all">{% trans %}All Orders{% endtrans %}</a></li>
                      {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PRODUCTION_MANAGER') %}
                      <li><a href="/{{ locale }}/orders/view/eshop/all">{% trans %}Eshop Orders{% endtrans %}</a></li>
                      <li><a href="/{{ locale }}/orders/view/showroom/all">{% trans %}Showroom Orders{% endtrans %}</a></li>
                      <li><a href="/{{ locale }}/orders/view/shop/all">{% trans %}Shop Orders{% endtrans %}</a></li>
                      <li><a href="/{{ locale }}/orders/view/stock/all">{% trans %}Stock Orders{% endtrans %}</a></li>
                      {% endif %}
                      <li><a href="/{{ locale }}/orders/view/proto/all">{% trans %}Prototype Orders{% endtrans %}</a></li>
                    </ul>
                  </li>
                  {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PRODUCTION_MANAGER') %}
                  <li><a><i class="fa fa-edit"></i> {% trans %}Production{% endtrans %} <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/{{ locale }}/production/view/all/all/all">{% trans %}All production{% endtrans %}</a></li>
                      <li><a href="/{{ locale }}/papproduction/view/all/all/all">{% trans %}RtW production{% endtrans %}</a></li>
                      <li><a href="/{{ locale }}/ceremonyproduction/view/all/all/all">{% trans %}Ceremony production{% endtrans %}</a></li>
                    </ul>
                  </li>
                  {% endif %}
                  {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ACCOUNTING_MANAGER') or is_granted('ROLE_SALE_MANAGER') or is_granted('ROLE_SALE')  %}
                  <li><a><i class="fa fa-edit"></i> {% trans %}Sales{% endtrans %} <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <!--<li><a href="form.html">{% trans %}Dashboard{% endtrans %}</a></li>-->
                      <li><a href="/{{ locale }}/calendar/all">{% trans %}Calendar{% endtrans %}</a></li>
                      <li><a href="/{{ locale }}/meeting/list/canceled">{% trans %}Canceled meetings{% endtrans %}</a></li>
                      <li><a href="/{{ locale }}/meeting/report/">{% trans %}Meetings Reports{% endtrans %}</a></li>
                      <li><a href="/{{ locale }}/customers/view/25">{% trans %}Customers{% endtrans %}</a></li>
                    </ul>
                  </li>
                  {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ACCOUNTING_MANAGER') %}
                  <li><a><i class="fa fa-edit"></i>{% trans %}Accounting{% endtrans %} <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/{{ locale }}/management/dashboard/view">{% trans %}Dashboard{% endtrans %}</a></li>
                      <li><a href="/{{ locale }}/management/revenue">{% trans %}Follow revenu{% endtrans %}</a></li>
                      <!--<li><a href="/{{ locale }}/management/accounting">{% trans %}Accounting{% endtrans %}</a></li>-->
                      <!--<li><a href="/{{ locale }}/management/invoicing">{% trans %}Management{% endtrans %}</a></li>-->
                    </ul>
                  </li>
                  {% endif %}
                  {% endif %}
                </ul>
              </div>
              {% endif %}
              {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PRODUCTION_MANAGER') %}
              <div class="menu_section">
                <h3>{% trans %}Configuration{% endtrans %}</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-bug"></i> {% trans %}Shop{% endtrans %} <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/admin/{{ locale }}/models/view/25/">{% trans %}Models{% endtrans %}</a></li>
                      <li><a href="/admin/{{ locale }}/matters/">{% trans %}Matter{% endtrans %}</a></li>
                      <li><a href="/admin/{{ locale }}/stocks/">{% trans %}Workroom Stock{% endtrans %}</a></li>
                    </ul>
                  </li>
                  {% if is_granted('ROLE_ADMIN') %}
                  <li><a><i class="fa fa-windows"></i> {% trans %}Plateform{% endtrans %} <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/{{ locale }}/profile">{% trans %}Your profile{% endtrans %}</a></li>
                      <li><a href="/admin/{{ locale }}/users">{% trans %}Users{% endtrans %}</a></li>
                      <li><a href="/admin/{{ locale }}/shops">{% trans %}Shops{% endtrans %}</a></li>
                      <li><a href="/admin/{{ locale }}/matterproviders">{% trans %}Providers{% endtrans %}</a></li>
                      <li><a href="/admin/{{ locale }}/workrooms">{% trans %}Workroom{% endtrans %}</a></li>
                      <li><a href="/admin/{{ locale }}/settings">{% trans %}RA Settings{% endtrans %}</a></li>
                    </ul>
                  </li>
                  {% endif %}
                </ul>
              </div>
              {% endif %}
              {% if is_granted('ROLE_SALE') or is_granted('ROLE_SALE_MANAGER') or is_granted('ROLE_PROVIDER') or is_granted('ROLE_USER') or is_granted('ROLE_PRODUCTION_MANAGER') %}
                <div class="menu_section">
                  <h3>{% trans %}Your profile{% endtrans %}</h3>
                  <ul class="nav side-menu">
                     <li><a href="/{{ locale }}/profile"><i class="fa fa-user"></i> {% trans %}Your profile{% endtrans %}</a></li>
                  </ul>
                </div>
              {% endif %}
            </div>
            <!-- /sidebar menu -->