{% extends 'base.html.twig' %}

{% block title %}Rime Arodaky {{ title }}{% endblock %}

{% block body %}
  <div class="container body">
      <div class="main_container">

        <div class="col-md-3 left_col menu_fixed">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/" class="site_title"><span><img src="{{ url('homepage') }}build/images/logo.png" height="39px" style="margin-left: 36px"></span></a>
            </div>

            <div class="clearfix"></div>

            {{ include('bloc/bloc-leftnav-profil.html.twig') }}

            <br />

            {{ include('bloc/bloc-leftnav-menu.html.twig') }}
            {{ include('bloc/bloc-leftnav-shortcut.html.twig') }}
            
          </div>
        </div>

        {{ include('bloc/bloc-topnav.html.twig') }}
        

        <!-- page content -->
        <div class="right_col" role="main">
          {% for message in app.flashes('success') %}
              <div class="alert alert-success">
                  {{ message }}
              </div>
          {% endfor %}
          <!-- top tiles -->
          {{ render(controller('AppBundle:Base:getStatData', {} )) }}
          <!-- /top tiles -->

          <div class="row">

            {{ include('management/bloc/content-dashboard.html.twig') }}

          </div>

        </div>
        <!-- /page content -->

        {{ include('bloc/bloc-footer.html.twig') }}
        
      </div>
    </div>

{% endblock %}

{% block footer %}
  <!-- jQuery -->
    <script src="{{ url('homepage') }}vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="{{ url('homepage') }}vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="{{ url('homepage') }}vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="{{ url('homepage') }}vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="{{ url('homepage') }}vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="{{ url('homepage') }}vendors/gauge.js/dist/gauge.min.js"></script>
    <!--morris.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="{{ url('homepage') }}vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="{{ url('homepage') }}vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="{{ url('homepage') }}vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="{{ url('homepage') }}vendors/Flot/jquery.flot.js"></script>
    <script src="{{ url('homepage') }}vendors/Flot/jquery.flot.pie.js"></script>
    <script src="{{ url('homepage') }}vendors/Flot/jquery.flot.time.js"></script>
    <script src="{{ url('homepage') }}vendors/Flot/jquery.flot.stack.js"></script>
    <script src="{{ url('homepage') }}vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="{{ url('homepage') }}vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="{{ url('homepage') }}vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="{{ url('homepage') }}vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="{{ url('homepage') }}vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="{{ url('homepage') }}vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="{{ url('homepage') }}vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="{{ url('homepage') }}vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{{ url('homepage') }}vendors/moment/min/moment.min.js"></script>
    <script src="{{ url('homepage') }}vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- Switchery -->
    <script src="{{ url('homepage') }}vendors/switchery/dist/switchery.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="{{ url('homepage') }}build/js/custom.min.js"></script>

    <script>

    var data = [
      { y: '{{ ("now"|date("Y"))-1 }} W35', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W35}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y"))-1 }} W36', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W36}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y"))-1 }} W37', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W37}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y"))-1 }} W38', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W38}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y"))-1 }} W39', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W39}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y"))-1 }} W40', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W40}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y"))-1 }} W41', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W41}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y"))-1 }} W42', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W42}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y"))-1 }} W43', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W43}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y"))-1 }} W44', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W44}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y"))-1 }} W45', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W45}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y"))-1 }} W46', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W46}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y"))-1 }} W47', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W47}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y"))-1 }} W48', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W48}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y"))-1 }} W49', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W49}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y"))-1 }} W50', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W50}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y"))-1 }} W51', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W51}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y"))-1 }} W52', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W52}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y"))-1 }} W53', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W53}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y"))-1 }} W54', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W54}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y")) }} W01', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W01}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y")) }} W02', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W02}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y")) }} W03', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W03}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y")) }} W04', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W04}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y")) }} W05', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W05}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y")) }} W06', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W06}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y")) }} W07', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W07}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y")) }} W08', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W08}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y")) }} W09', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W09}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y")) }} W10', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W10}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y")) }} W11', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W11}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y")) }} W12', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W12}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y")) }} W13', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W13}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y")) }} W14', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W14}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y")) }} W15', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W15}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y")) }} W16', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W16}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y")) }} W17', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W17}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y")) }} W18', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W18}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y")) }} W19', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W19}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y")) }} W20', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W20}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y")) }} W21', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W21}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y")) }} W22', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W22}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y")) }} W23', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W23}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y")) }} W24', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W24}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y")) }} W25', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W25}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y")) }} W26', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W26}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y")) }} W27', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W27}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y")) }} W28', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W28}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y")) }} W29', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W29}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y")) }} W30', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W30}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y")) }} W31', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W31}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y")) }} W32', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W32}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y")) }} W33', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W33}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} },
      { y: '{{ ("now"|date("Y")) }} W34', {% for shopPaiement in dashboard %}{{loop.index}}: {{shopPaiement.W34}}{% if loop.last %}{% else %}, {% endif %}{% endfor %} }
    ],
    config = {
      data: data,
      xkey: 'y',
      ykeys: [{% for shopPaiement in dashboard %}'{{loop.index}}'{% if loop.last %}{% else %}, {% endif %}{% endfor %}],
      labels: [{% for shopPaiement in dashboard %}'{{shopPaiement.shop}}'{% if loop.last %}{% else %}, {% endif %}{% endfor %}],
      fillOpacity: 0.6,
      hideHover: 'auto',
      behaveLikeLine: true,
      resize: true,
      pointFillColors:['#ffffff'],
      pointStrokeColors: ['#EDEDED'],
      lineColors:[{% for shopPaiement in dashboard %}'{{shopPaiement.color}}'{% if loop.last %}{% else %}, {% endif %}{% endfor %}],
    };
    config.element = 'area-chart';
    Morris.Area(config);

    $('input.daterange').daterangepicker({
          locale: {
            format: 'YYYY-MM-DD'
          },
          startDate: '2018-01-01',
          endDate: '2018-12-31',
          "drops": "up"
      }, 
      function(start, end, label) {
        $('#dateend').val(end.format('YYYY-MM-DD'));
        $('#datestart').val(start.format('YYYY-MM-DD'));
      });

    </script>
{% endblock %}
