{% extends 'base.html.twig' %}

{% block title %}Rime Arodaky {{ title }}{% endblock %}

{% block body %}
  <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col menu_fixed">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/" class="site_title"><span><img src="{{ url('homepage') }}build/images/logo.png" height="39px" style="margin-left: 36px"></span></a>
            </div>

            <div class="clearfix"></div>

            {{ include('bloc/bloc-leftnav-profil.html.twig') }}

            <br />

            {{ include('bloc/bloc-leftnav-menu.html.twig') }}
            {{ include('bloc/bloc-leftnav-shortcut.html.twig') }}
            
          </div>
        </div>



        {{ include('bloc/bloc-topnav.html.twig') }}
        

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>{% trans %}Customer{% endtrans %}</h3>
              </div>
              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="{% trans %}Search for...{% endtrans %}">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="clearfix"></div>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>{% trans %}Customer{% endtrans %} <small>{% trans %}Activity report{% endtrans %}</small></h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                      <div class="profile_img">
                        <div id="crop-avatar">
                          <!-- Current avatar -->
                          <img class="img-responsive avatar-view img-circle" src="{{ url('homepage') }}build/images/customer.jpg" alt="Avatar" title="Change the avatar">
                          
                        </div>
                      </div>
                      <h3>{{ customer.firstName }} {{ customer.lastName }}</h3>

                      <ul class="list-unstyled user_data">
                        <li>
                          <i class="fa fa-map-marker user-profile-icon"></i> {{ customer.address }}<br/>{{ customer.postCode }} {{ customer.city }},<br/> {{ customer.state }},<br/> {{ customer.country }}
                        </li>
                        <li>
                          <i class="fa fa-envelope user-profile-icon"></i> {{ customer.email }}
                        </li>
                        <li>
                          <i class="fa fa-phone user-profile-icon"></i> {{ customer.phone }}
                        </li>
                        <li>
                          {% if customer.optin == 'true' %}
                            <i class="fa fa-check"></i>{% trans %}Customer opt-in{% endtrans %}
                          {% else %}
                            <i class="fa fa-times"></i>{% trans %}Customer not opt-in{% endtrans %}
                          {% endif %}
                        </li>
                        <li>
                          {% if customer.locale == 'fr' %}
                            <i class="fa map-marker"></i>{% trans %}French customer{% endtrans %}
                          {% else %}
                            <i class="fa map-marker"></i>{% trans %}English customer{% endtrans %}
                          {% endif %}
                        </li>
                      </ul>
                      <button class="btn btn-success" data-toggle="modal" data-target="#noteModal"><i class="fa fa-edit m-right-xs"></i> {% trans %}Add Note{% endtrans %}</button>
                      <br />
                      <a href="/{{ locale }}/customers/single/edit/{{ customer.id }}" class="btn btn-default"><i class="fa fa-edit m-right-xs"></i> {% trans %}Edit Customer{% endtrans %}</a>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                          <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Commandes effectueés</a>
                          </li>
                          <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Rendez-vous</a>
                          </li>
                          <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Notes clients</a>
                          </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                          <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                            <div class="row" style="border-bottom:2px solid #E6E9ED; margin-bottom:10px;">
                              <div class="col-md-6 col-sm-6 col-xs-12"><h3>{% trans %}Orders done{% endtrans %}</h3></div>
                              <div class="col-md-6 col-sm-6 col-xs-12 align-right"><a href="/{locale}/orders/create/{{ customer.id }}" class="btn btn-success"><i class="fa fa-plus"></i> {% trans %}Create a new order for{% endtrans %} {{ customer.firstName }} {{ customer.lastName }}</a></div>
                            </div>
                            <!-- start recent activity -->
                            {% if customer.orders is empty %}
                            <div class="alert alert-warning"><strong>Oh! Damn it...</strong> There is no orders yet created for this customer.</div>
                            {% else %}
                            <ul class="messages">
                              {% for sorder in customer.orders %}
                              <li style="min-height: 100px;">
                                <img src="{{ url('homepage') }}build/images/basket.jpg" class="avatar" alt="Avatar">
                                <div class="message_date">
                                  <h3 class="date text-info">{{ sorder.dateOrder|date("d") }}</h3>
                                  <p class="month">{{ sorder.dateOrder|date("F")|slice(0, 3) }}.</p>
                                </div>
                                <div class="message_wrapper">
                                  <h4 class="heading"><a href="/{{locale}}/orders/single/{{ sorder.id }}">{% trans %}Order{% endtrans %} {% if sorder.idCompta|length < 1 %}DRAFT{% elseif sorder.idCompta|length < 2 %}#{{ sorder.shop.extention }}000{{ sorder.idCompta }}-{{ sorder.year }}{% elseif sorder.idCompta|length < 3 %}#{{ sorder.shop.extention }}00{{ sorder.idCompta }}-{{ sorder.year }}{% elseif sorder.idCompta|length < 4 %}#{{ sorder.shop.extention }}0{{ sorder.idCompta }}-{{ sorder.year }}{% elseif sorder.idCompta|length < 5 %}#{{ sorder.shop.extention }}{{ sorder.idCompta }}-{{ sorder.year }}{% endif %}{% if sorder.type == "1" %}-S{% elseif sorder.type == 2 %}-P{% endif %}</a></h4>
                                  {% if sorder.modelsOrdered is empty %}
                                  <div class="alert alert-warning"><strong>Strange...</strong> No product has been added to this order.</div>
                                  {% else %}
                                  <ul style="list-style-type:none; padding:0px;">
                                    {% for modelO in sorder.modelsOrdered %}
                                    <li style="border:1px solid #EFEFEF;padding:5px 15px;">
                                      <p><strong>{{ modelO.model.name }} ({{ modelO.model.sku }}) :</strong></p>
                                      <div class="row" style="border: 1px solid #EEE">
                                        <div class="col-md-3 col-sm-6 col-xs-12" style="border-right: 1px solid #EEE;padding: 5px 10px;"><strong>{% trans %}Model size{% endtrans %}:</strong> {{ modelO.size }}</div>
                                        <div class="col-md-3 col-sm-6 col-xs-12" style="border-right: 1px solid #EEE;padding: 5px 10px;"><strong>{% trans %}Heels size{% endtrans %}:</strong> {{ modelO.heels }}</div>
                                        <div class="col-md-3 col-sm-6 col-xs-12" style="border-right: 1px solid #EEE;padding: 5px 10px;"><strong>{% trans %}Status{% endtrans %}:</strong> {{ modelO.status }}</div>
                                        <div class="col-md-3 col-sm-6 col-xs-12" style="padding: 5px 10px;"><strong>{% trans %}Price sold{% endtrans %}:</strong> {{ modelO.prixSoldHT|round(2, 'common') }}&nbsp;€</div>
                                      </div>
                                    </li>
                                    {% endfor %}
                                  </ul>
                                  {% endif %}
                                  <br />
                                  <!--// Photo ?<p class="url">
                                    <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                                    <a href="#"><i class="fa fa-paperclip"></i> User Acceptance Test.doc </a>
                                  </p>-->
                                </div>
                              </li>
                              {% endfor %}
                            </ul>
                            <!-- end recent activity -->
                            {% endif %}

                          </div>
                          <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">

                            <!-- start user projects -->
                            <table class="data table table-striped no-margin">
                              <thead>
                                <tr>
                                  <th>#</th>
                                  <th>Project Name</th>
                                  <th>Client Company</th>
                                  <th class="hidden-phone">Hours Spent</th>
                                  <th>Contribution</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>New Company Takeover Review</td>
                                  <td>Deveint Inc</td>
                                  <td class="hidden-phone">18</td>
                                  <td class="vertical-align-mid">
                                    <div class="progress">
                                      <div class="progress-bar progress-bar-success" data-transitiongoal="35"></div>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>New Partner Contracts Consultanci</td>
                                  <td>Deveint Inc</td>
                                  <td class="hidden-phone">13</td>
                                  <td class="vertical-align-mid">
                                    <div class="progress">
                                      <div class="progress-bar progress-bar-danger" data-transitiongoal="15"></div>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>Partners and Inverstors report</td>
                                  <td>Deveint Inc</td>
                                  <td class="hidden-phone">30</td>
                                  <td class="vertical-align-mid">
                                    <div class="progress">
                                      <div class="progress-bar progress-bar-success" data-transitiongoal="45"></div>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>4</td>
                                  <td>New Company Takeover Review</td>
                                  <td>Deveint Inc</td>
                                  <td class="hidden-phone">28</td>
                                  <td class="vertical-align-mid">
                                    <div class="progress">
                                      <div class="progress-bar progress-bar-success" data-transitiongoal="75"></div>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <!-- end user projects -->

                          </div>
                          <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                            <p>xxFood truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui
                              photo booth letterpress, commodo enim craft beer mlkshk </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        {{ include('bloc/bloc-footer.html.twig') }}
        
      </div>
    </div>

{% endblock %}

{% block footer %}
  <!-- Modal Note -->
    <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{% trans %}Add Note{% endtrans %}</h4>
          </div>
          <div class="modal-body">
            <div id="formPayment">
              <div class="form-horizontal form-label-left">
                <!-- Debut Form -->
                <div class="form-group">
                  <!-- WYSIWYG -->
                    <div class="row">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="comment">
                        {% trans %}Comment{% endtrans %}
                      </label>
                    </div>
                    <div class="btn-toolbar editor" data-role="editor-toolbar" data-target="#editor-note">
                      <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li>
                            <a data-edit="fontSize 5">
                              <p style="font-size:17px">Huge</p>
                            </a>
                          </li>
                          <li>
                            <a data-edit="fontSize 3">
                              <p style="font-size:14px">Normal</p>
                            </a>
                          </li>
                          <li>
                            <a data-edit="fontSize 1">
                              <p style="font-size:11px">Small</p>
                            </a>
                          </li>
                        </ul>
                      </div>

                      <div class="btn-group">
                        <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                        <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                        <a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></a>
                        <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
                      </div>

                      <div class="btn-group">
                        <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></a>
                        <a class="btn" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></a>
                        <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-dedent"></i></a>
                        <a class="btn" data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent"></i></a>
                      </div>

                      <div class="btn-group">
                        <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                        <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                        <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                        <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
                      </div>

                      <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="fa fa-link"></i></a>
                        <div class="dropdown-menu input-append">
                          <input class="span2" placeholder="URL" type="text" data-edit="createLink" />
                          <button class="btn" type="button">Add</button>
                        </div>
                        <a class="btn" data-edit="unlink" title="Remove Hyperlink"><i class="fa fa-cut"></i></a>
                      </div>

                      <div class="btn-group">
                        <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
                        <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
                      </div>
                    </div>
                    <div class="editor-wrapper" id="editor-note" >
                      <textarea class="form-control" id="comment"></textarea>
                    </div>
                    
                    <!--  // WYSIWYG -->
                </div>
                <!-- Fin Form -->
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="saveNote" href="/{{ locale }}/notes/create/{{ customer.id }}">{% trans %}Save Note{% endtrans %}</button>
          </div>
        </div>
      </div>
    </div>
  <!-- //Modal Note -->
  <!-- jQuery -->
    <script src="{{ url('homepage') }}vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="{{ url('homepage') }}vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="{{ url('homepage') }}vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="{{ url('homepage') }}vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="{{ url('homepage') }}vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="{{ url('homepage') }}vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="{{ url('homepage') }}vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="{{ url('homepage') }}vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="{{ url('homepage') }}vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="{{ url('homepage') }}vendors/Flot/jquery.flot.js"></script>
    <script src="{{ url('homepage') }}vendors/Flot/jquery.flot.pie.js"></script>
    <script src="{{ url('homepage') }}vendors/Flot/jquery.flot.time.js"></script>
    <script src="{{ url('homepage') }}vendors/Flot/jquery.flot.stack.js"></script>
    <script src="{{ url('homepage') }}vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="{{ url('homepage') }}vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="{{ url('homepage') }}vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="{{ url('homepage') }}vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="{{ url('homepage') }}vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="{{ url('homepage') }}vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="{{ url('homepage') }}vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="{{ url('homepage') }}vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- switchery.js -->
    <script src="{{ url('homepage') }}vendors/switchery/switchery.js"></script>
    <!-- ColorPicker -->
    <script src="{{ url('homepage') }}vendors/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{{ url('homepage') }}vendors/moment/min/moment.min.js"></script>
    <script src="{{ url('homepage') }}vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap-wysiwyg -->
    <script src="{{ url('homepage') }}vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="{{ url('homepage') }}vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="{{ url('homepage') }}vendors/google-code-prettify/src/prettify.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="{{ url('homepage') }}build/js/custom.min.js"></script>
    <script src="{{ url('homepage') }}build/js/rarcustom.js"></script>
    <style>
      #editor-note textarea{
        display: none;
      }
      #editor-note a{
        color:#169f85;
        text-decoration: underline;
      }
    </style>
{% endblock %}
